.body{
    color: blanchedalmond;
}

.hero h1{
    color: aliceblue;
}
.hero p{
    color: aliceblue;  
}


.hero{
    background-color: black;
    height: 70vh;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.about{
    background-color: grey;
    height: 40vh;
}

.experience{
    background-color: black;
    height: 60vh;
}

.projects{
    background-color: gray;
    height: 80vh;
}

